body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.quiz-config, .quiz-game{
  border: 1px solid white;
  border-radius: 5px;
  padding: 25px;
}

.quiz-config{
  backdrop-filter: blur(15px);
  border: 1px solid black;
  color: black;
}

.quiz-header {
  display: flex;
  flex-direction: column;  /* Cambia la dirección del flex para que el botón esté encima del título */
  gap: 5px;                /* Ajusta el espacio entre el botón y el h1 */
}

.quiz-header h1 {
  margin: 0; /* Elimina el margen por defecto del h1 */
  text-align: center;
}

#info-button{
  background-color: transparent;
  border: none;
  text-align: left;
  padding: 0;
  margin: 0;
  width: 0;
}

#info-button:active{
  border: none;
}

.quiz-config select, .quiz-config input, .quiz-config button{
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.quiz-config input{
  border: 1px solid black;
}

.quiz-config button{
  width: 100%;
}

.quiz-config select{
  width: 100%;
}

.quiz-config select, .quiz-config input{
  background-color: white;
  color: black;
  font-size: 15px;
}

.quiz-config button{
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: background-color .4s ease, color .4s ease;
}

.quiz-config button:hover{
  background-color: black;
  color: white;
}

.quiz-game-container {
  max-width: 500px; /* Establece un ancho fijo para el contenedor de las preguntas */
  width: 100%; /* Permite que sea responsivo en pantallas más pequeñas */
  text-align: center; /* Centra el contenido del texto */
  padding: 20px; /* Añade un poco de espacio interno */
  border-radius: 5px;
  position: relative;
  z-index: 2;
}

.quiz-game {
  backdrop-filter: blur(10px);
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
  text-align: center; /* Centra el texto */
}

.quiz-game button{
  margin: 10px;
  border: 1px solid white;
  width: 100%;
  background-color: black;
}

.question-info{
  display: flex;
  text-align: center;
  align-items: center;
  background-color: orange;
  width: 100%;
  border-radius: 5px 5px 0 0;
  text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px  1px 0 #000,
        1px  1px 0 #000;
}

.question-info button{
  width: 15%;
  font-size: 12px;
}

.question-info h2:first-child{
  flex: 1;
  text-align: center;
}

.question-info h2:last-child {
  flex-shrink: 0; /* Evita que se reduzca el ancho */
  text-align: right; /* Alinea el número de la pregunta a la derecha */
}

.question-container{
  background-color: white;
  color: black;
  padding-bottom: 20px;
  border-radius: 0 0 5px 5px;
}

.progress-bar-container{
  width: 99%;
  height: 10px;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 15px;
}

.progress-bar {
  height: 100%;
  background-color: #66de0a; /* Color de la barra */
  transition: width 0.s linear;
}

.answers{
  display: grid;
  text-align: center;
  align-content: center;
  margin-right: 20px;
}

.answers button{
  color: black;
  border: 2px solid black;
}

.answer.correct{
  background-color: green;
  color: white;
}

.question-buttons{
  display: flex;
  width: 100%;
}

.question-buttons button{
  width: 1fr;
}

.end{
  border: 1px solid black;
  color: black;
  display: grid;
  backdrop-filter: blur(15px);
  padding: 25px;
}

/* From Uiverse.io by mrpumps31232 */ 
.loading-wave {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loading-bar {
  width: 20px;
  height: 10px;
  margin: 0 5px;
  background-color: #3498db;
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 10px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.github-link{
  width: 100%;
  text-align: center;
  margin-top: 15px;
  cursor: default;
}

.github-link img{
  border-radius: 5px;
  padding: 5px;
  transition: background-color .3s ease;
}

.github-link img:hover{
  background-color: #0c1728;
  color: white;
}

/* Para pantallas pequeñas (hasta 768px de ancho) */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 20px; /* Reducir tamaño de fuente para pantallas más pequeñas */
  }

  .background-video {
    /* Asegurar que el video ocupe el 100% del ancho y alto de la pantalla */
    width: 100%;
    height: 100vh; /* Alto igual al de la pantalla */
    object-fit: cover; /* Mantener el aspecto del video, cortando lo que no quepa */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Asegurarse de que el video esté en el fondo */
  }

  .quiz-config {
    padding: 15px; /* Reducir padding */
    width: 500px;
  }

  /* Ajustar el tamaño del botón de info */
  #info-button img {
    width: 30px; /* Reducir tamaño del icono en pantallas pequeñas */
  }

  /* Ajustar el título */
  h1 {
    font-size: 3em; /* Reducir tamaño del título */
    margin-bottom: 10px;
  }

  /* Ajustar los inputs y selects para que ocupen el 100% */
  .quiz-config select {
    width: 100%;
    padding: 8px;
  }

  /* Centrar el contenido en pantallas pequeñas */
  .quiz-config select, .quiz-config input {
    font-size: 17px;
  }

  .quiz-config label {
    font-size: 17px;
  }

  /* Ajustar el padding de los botones */
  .quiz-config button {
    padding: 10px 0;
  }

  /* Hacer que los inputs y botones ocupen toda la anchura */
  .quiz-config select{
    width: 100%;
  }

  /* Ajustar el contenedor del enlace de GitHub */
  .github-link a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Ajustar el icono de GitHub */
  #icon {
    width: 50px;
  }
}

/* Para pantallas pequeñas (hasta 600px de ancho) */
@media (max-width: 600px) {
  .quiz-config {
    padding: 15px; /* Padding moderado para pantallas pequeñas */
    font-size: 14px; /* Tamaño de texto más pequeño */
  }

  h1 {
    font-size: 22px; /* Reducir un poco el tamaño del título */
    margin-bottom: 10px;
  }

  h2 {
    font-size: 18px; /* Ajuste del tamaño de h2 */
  }

  /* Ajustar los inputs, selects y botones */
  .quiz-config select{
    width: 100%; /* Asegurar que ocupen toda la anchura disponible */
    padding: 8px; /* Padding más pequeño */
    font-size: 14px; /* Tamaño de fuente ajustado */
  }

  .quiz-config button {
    font-size: 14px; /* Reducir el tamaño de los botones */
    padding: 10px 0; /* Padding moderado en botones */
  }

  /* Ajustar el icono de GitHub */
  #icon {
    width: 40px; /* Reducir el tamaño del icono */
    height: auto;
  }

  /* Ajustar el enlace de GitHub */
  .github-link a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background-video {
    /* Asegurar que el video ocupe el 100% del ancho y alto de la pantalla */
    width: 100%;
    height: 100vh; /* Alto igual al de la pantalla */
    object-fit: cover; /* Mantener el aspecto del video, cortando lo que no quepa */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Asegurarse de que el video esté en el fondo */
  }

  .quiz-game-container {
    width: 100%;  /* Asegura que el contenedor ocupe el 100% del ancho disponible */
    max-width: 87%;  /* Elimina cualquier límite de ancho máximo que pueda haber */
    padding: 10px;  /* Añade algo de espacio interno para que no toque los bordes */
    box-sizing: border-box;  /* Asegura que el padding se incluya en el tamaño total */
  }

  /* Opcional: Reducir el tamaño de fuente para las preguntas */
  .quiz-game-container h2 {
    font-size: 16px; /* Ajustar el tamaño de las preguntas */
  }

  /* Ajustar los botones dentro del contenedor */
  .quiz-game-container button {
    width: 100%;  /* Los botones ocupan todo el ancho disponible */
    padding: 8px;  /* Reducir el padding para que no sean tan grandes */
  }
}